@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
$roboto-condensed: 'Roboto Condensed';
$blink-color: rgb(51,204,255);

.market-container {
    display: grid;
    grid-template-areas: 
    "advertise"
    "shop-by"
    "featured";
    grid-template-rows: 400px 220px 500px;
    height: 100vh;
}

.market-advertise{
    grid-area: advertise;
    text-align: center;

    .jumbotron{
        height: 100%;
        h1{
            margin-top: 50px;
        }
    }
}

.market-shop-by{
    grid-area: shop-by;
    display: flex;
    
    .market-sub{
        width: 50%;
        text-align: center;
        background-color: rgb(200,200,200);
        img {
            width: 100px;
            height: 100px;
            margin-top: 15px;
        }
        p{
            font-family: $roboto-condensed;
            font-size: 20px;
        }
    }

}
.market-featured{
    grid-area: featured;
    text-align: center;
    background-color: rgb(240,240,240);
    grid-template-areas: "media article poll";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.market-media-container{
    grid-area:"media"
}
.market-featured-container{
    grid-area: "article";
    margin-top: 20px;
}
.market-poll-container{
    grid-area: "market-poll-container";
}

.market-featured-article{
    width: 500px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.featured-3{
    display:inline-block;
}
