.menu-container {
    margin-top: 300px;
    display: grid;
    grid-template-areas: 'market community applications';
    grid-column: 1fr 1fr 1fr;
}

.menu-button{
    border: none;
    outline: none;
    background-color: transparent;
    transition: .5s linear;
    border-radius: 10%;
    padding: 15px;
}

.menu-container button:hover {
    background-color: gray;

}

.menu-market-container {
    grid-area: 'market';
    text-align: center;
    img {
        width: 220px;
        height: 220px;
    }
}

.menu-community-container {
    opacity: .4;
    grid-area: 'community';
    text-align: center;
    img {
        width: 220px;
        height: 220px;
    }
}

.menu-applications-container {
    opacity: .4;
    grid-area: 'applications';
    text-align: center;
    img {
        width: 220px;
        height: 220px;
    }
}