@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
$roboto-condensed: 'Roboto Condensed';
$blink-color: rgb(51,204,255);

#fourohfour-page { 
    height: 100vh;
    background-image: linear-gradient(180deg, rgb(84,84,84), rgb(120,120,120)) !important;

    #fourohfour-error-container { 
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

        background-color: white;
        border-radius: 20px;
        padding: 30px;
        width: 300px;

        #image-container { 
            text-align: center;
        }

        #fourohfour-logo {
            width: 200px;
        }

        #fourohfour-error-message { 
            text-align: center;
            font-family: $roboto-condensed;
            font-size: 20px;
        }
    }
}
/*

*/