<body id="mainScreenBody">
  <div id="mainScreenInnerBody">
    <nav id="mainScreenNav">
      <a href="/">
        <img id="navLogo" src="assets/logo.png">
      </a>
      <div id="navRight">
        <button class="navButton" id="registerButton">Register</button>
        <button class="navButton" id="signinButton">Sign-in</button>
      </div>
    </nav>

    <div id="mainScreenSloganContainer">
      <div>
        <h2 class="title">Keyboard Collection</h2>
        <h2 class="title">Trading Assessor</h2>
      </div>
      <button id="sloganButton">Proceed</button>
    </div>
  </div>
</body>