#mainScreenBody {
    height: 100vh;
}

#mainScreenInnerBody {
    max-width: 1920px;
    width: 93%;
    margin: 0 auto;
}

#mainScreenSloganContainer {
    margin-top: 70px;
    text-align: center;
}

.title {
    font-family: Montserrat;
    font-weight: 700;
    text-align: center;
}

#sloganButton {
    margin-top: 30px;
    border: 1px solid green;
    width: 115px;
    height: 30px;
    border-radius: 15px;
    outline: none;
    background: green;
    color: white
}

/* bottom panels */

.home-info {
    display: flex;
    margin-top: 30px;
    width: 100%;
}

.home-panel {
    width: 33%;
    border: 1px solid green;
    text-align: center;
}

@media only screen and (max-width: 420px) {
    .home-info {
        display: block;
        position: relative;
    }
    .home-panel {
        width: 100%;
    }
}