/* @font-face {
    font-family: Montserrat;
    src: url("/assets/Fonts/Montserrat-Regular.ttf") format("truetype");
} */

/* #mainScreenBody {
    height: 100vh;
    background-color: gray;
} */

/* #mainScreenInnerBody {
    max-width: 1920px;
    margin: 0 auto;
} */

#mainScreenNav {
    width: 100%;
    display: inline-flex;
    background-color: gray;
}

#navLogo {
    width: 70px;
    height: 70px;
    margin-left: 15px;
}

#navRight {
    margin-left: auto;
    margin-right: 0;
}

#registerButton {
    font-weight: 900;
}

#signinButton {
    height: 100%;
    background-color: green;
}

.navButton {
    margin: auto;
    border: none;
    padding: 19px;
    background: none;
    color: white;
    /* font-family: Montserrat; */
}

/* #mainScreenSloganContainer {
    margin-top: 70px;
    text-align: center;
} */

/* .title {
    font-family: Montserrat;
    color: white;
    font-weight: 700;
    text-align: center;
}

#sloganButton {
    margin-top: 50px;
    border: 1px solid green;
    width: 115px;
    height: 30px;
    border-radius: 15px;
    outline: none;
    background: green;
    color: white
} */