@font-face {
    font-family: Montserrat;
    src: url("/src/Assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

#mainScreenNav {
    width: 100%;
    display: inline-flex;
    background-color: gray;
}

#navLogo {
    width: 70px;
    height: 70px;
    margin-left: 15px;
}

#navRight {
    margin-left: auto;
    margin-right: 0;
}

#registerButton {
    font-weight: 900;
}

#signinButton {
    height: 100%;
    background-color: green;
}

.navButton {
    margin: auto;
    border: none;
    padding: 19px;
    background: none;
    color: white;
    font-family: Montserrat;
}